# intellij idea
.idea/
*.iml

# bitrix
/public/bitrix/*
!/public/bitrix/php_interface
/public/bitrix/php_interface/dbconn.php
/public/bitrix/php_interface/after_connect.php
/public/bitrix/php_interface/after_connect_d7.php
/public/upload/

# composer
/public/local/vendor/

node_modules/
.sass-cache/

/public/local/reports/
/public/local/templates/*/build/
/public/local/scratch.php

*.log

# fabric/deploy

__pycache__
secrets.yml

# temporary files

~$*.xls*

# project

/tmp
# TODO be more specific
*.xls
*.doc
*.pdf
