# intellij idea
.idea/
*.iml

# bitrix
/public/bitrix/*
!/public/bitrix/php_interface
/public/bitrix/php_interface/dbconn.php
/public/bitrix/php_interface/after_connect.php
/public/bitrix/php_interface/after_connect_d7.php

!/public/bitrix/templates/
/public/bitrix/templates/*
!/public/bitrix/templates/main_page
!/public/bitrix/templates/letter
!/public/bitrix/templates/eshop_app

!/public/bitrix/components/
/public/bitrix/components/*
!/public/bitrix/components/imarket/

/public/upload/

# composer
/public/local/vendor/

node_modules/
.sass-cache/

/public/local/reports/
/public/local/templates/*/build/
/public/local/scratch.php

*.log

# fabric/deploy

__pycache__
secrets.yml

# temporary files

~$*.xls*
/public/partneram/babyliss/tech-form/stamp.jpg

# project

/tmp
# TODO be more specific
*.xls
!/public/partneram/babyliss/tech-form/zakl_new1.xls
!/public/local/resources/reports/template.xls
*.doc
*.pdf
*.7z
